body {
    background-color: black;
    border-style: solid;
    border-color: rgb(47,41,54);
    font-family: "Noto Sans", sans-serif;
    padding-left:16px;
}
h1 {
    font-size: 20px;
    margin-top: 12px;
    color: white;
}

.wd-topGrid {
    clear: both;
    margin-bottom:12px;
    border-bottom-color: rgb(110,118,125);
    border-bottom-style: solid;
    font-size: 13px;
    color: rgb(110,118,125)
}

.wd-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 12px;
    display: flex;
}

.wd-accountInfo {
    align-items: flex-start;
    display: flex;
}

.wd-tuitName {
    color: white;
    font-size: 15px;
}

.wd-tuitHandle {
    color: rgb(110,118,125);
    font-size: 15px;
}

.wd-tuitContent {
    color: white;
    display: flex;
}

.wd-tuitContainer {
    color: white;
    max-width: 506px;
    margin-bottom: 12px;
}

.wd-contentImage {
    width: 504px;
    height: 264px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    overflow: auto;
    border-bottom-style: solid;
    border-bottom-color: rgb(110,118,125);
}

.wd-contentImageDescription-title {
    font-weight: bold;
    font-size: 15px;
    color: white;
}

.wd-contentImageDescription-body {
    font-size: 15px;
    color: rgb(110,118,125);
}

i {
    padding-left: 75px;
    padding-right: 12px;
    color: rgb(110,118,125)
}

.wd-like {
    color: red;
}
.wd-first-icon {
    padding-left: 0px;
    padding-right: 12px;
    color: rgb(110,118,125)
}

.wd-icon-text {
    color: rgb(110,118,125);
    font-size: 12px;
}

.wd-like-text {
    color: red;
    font-size: 12px;
}

.wd-icons {

    text-align: center;
}