body {
    background-color: black;
    font-family: "Noto Sans", sans-serif;
    border-style: solid;
    border-color: rgb(47,41,54);
    padding-left: 16px;
}



.wd-topBar {
    padding:5px;
}
.wd-searchBar{
    background-color: #1b2836;
    width: 35%;
    display: flex;
    border-style:none;
    position: relative;
    border-radius: 0;
    padding-left: 20px;
    color: white;
    height: 30px;
}

.wd-rounded-corners-all-around {
    border-radius: 15px;
}

.wd-icon {
    color: rgb(29,161,242);
    display: flex;
    position: absolute;
    top: 20px;
    right: 12px;
}


.wd-hyperlinkUL {
    list-style-type: none;
    display: flex;
    position: relative;
    overflow: hidden;
}

.wd-hyperlinkLi a{
    float:left;
    text-decoration: none;
    color: rgb(110,118,125);
    font-size:15px;
    padding: 16px;
}

.wd-hyperLinkForYou a{
    float: left;
    text-decoration: none;
    border-bottom-color: rgb(29,161,242);
    color: rgb(29,161,242);
    font-size: 15px;
    padding: 16px;
    border-bottom-style: solid;
}

.wd-topic {
    font-size: 13px;
    color: rgb(110,118,125)
}

.wd-author {
    color: white;
}

.wd-profileImage {
    float:right;
    border-radius: 15px;
    height: 100px;
    width: 100px;
    right: 16px;
}

.wd-grid-row {
    clear: both;
    padding: 10px;
}

#selector-1 {
    padding:10px;
}

.wd-title {
    color: white;
    font-weight: 600;
}

.wd-elipses {
    color:rgb(110,118,125);
    font-size:20px;
    float:right;
    right: 16px;
}
